.accordion {
 padding: 0px 36px;
}
.accordion-section {
cursor:default;
border-bottom: 1px solid #d0d0d0;
}
.accordion-section > h3 {
    padding: 8px;
    font-size: 16px;
    margin: 0;
    border:1px solid #ccc;
    font-weight: 500;
}
.accordion-section > .body {
    height: 0;
    padding: 0 10px;
    overflow-y: hidden;
    transition: height .5s;
    transition: height .5s, padding-top .5s, padding-bottom .5s;
}
.accordion-section.selected > .body {
    height: auto;
    padding:10px 10px 10px 50px;
    border:none;
}

.accordion-section .sec{
position: relative;
border: 1px solid #d0d0d0;

}
.accordion-section.selected .sec{
    border-bottom: 0px;
    border-right: 0px;
}
ul.pe-input.pe-error-text {
    list-style: none;
    /* padding: 0px; */
}
.accordion-section .sec a {
    padding: 10px;
    display: block;
    color: #000;
    text-decoration: none;
    padding-left: 40px;
    
}
.accordion-section .sec a:before {
     /*font-family: 'pearson-fa';
    content: '\f058';*/
     content: "\f107";
    position: absolute;
    background:#0076D3;
    color: #ffffff;
    top: 0;
    left: 0;
    width:25px;
    height: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 23px;
    font-weight: bold;
}
.accordion-section .sec a span {
    font-size: 18px;
    font-family: sans-serif;
}
.accordion-section.selected .sec a:before{
    /*content: '\f078';*/
    content: "\f107";
}
/*Team CSS*/
.pe-formats-link{
  margin-bottom:1em;
}
.pe-input .pe-choose-file {
    border: none;
    padding: 0px;
    height:auto;
}
.__react_component_tooltip.place-right span {
    display: block;
}

.fa-check-circle:before {
    content: "\f058";
}
.fa-check-circle {
    color: #076826;
    margin-right: 5px;
}

.fa-times-circle{
    color: #d0021b;
    margin-right: 5px;
}
.pe-uploadasset .react-tabs .ReactTabs__Tab--selected{
border-left:0px;
border-right:0px;
}
