.floatLeft{
    float: left;
}

.secondDiv{
    margin-top: 100px;
}

.paddedDiv{
    padding-top: 50px;
}

h1 {
    color: orange;
    text-align: center;
}
.UploadContainer{
    width:65%;
    margin:0px auto;
}

#holder { border: 2px dashed #ccc; min-height: 150px; margin: 20px auto;}
#holder.hover { border: 10px dashed #0c0; }
#holder img { display: block; margin: 10px auto; }
#holder p { margin: 10px; font-size: 14px; }
progress { width:45%;
           margin:0 auto;}
/*progress:after { content: '%'; }*/
.fail {
    background: #c00;
    padding: 2px; color: #fff;
}
#upload-status{
    text-align:center;
}
.hidden {
    display: none !important;
}

.UploadFormDiv h3{
    text-align: left;
}

.upload{
    /*padding-top: 10em;*/
    text-align: center;
    width: 100%;
    font-size:13px;
}

.upload p{
    display: inline-block;
}

.UploadImgIcon{
    width:100%;
    height:100%;
}

#PreviewImg{
    /*min-height:250px;*/
}

.UploadStatusDiv {width:100%;}


.errorMsg{
    color:red;
    text-align:center;
    font-weight:bold;
}

.successMsg{
    color:green;
    text-align:center;
    font-weight:bold;
}

.hideClass{
    display:none;
}

showClass{
    display:block;
}

.disabled
{
    pointer-events: none;

    /* for "disabled" effect */
    opacity: 0.5;
    background: #CCC;
}

.BulkInstructDiv{
    width:100%;
    margin:0px auto;
}
.instructions{
    padding: 15px;
    border: 2px solid #ccc;
    background: beige;
}
.upload p{
    display: inline-block;
}

#upload-status label {
    width:25%;
    display: inline-block;
    text-align: left;
    font-size:14px;
}
#upload-status select,
#upload-status input{
    width:75%;
    display: inline-block;
    text-align: left;
    font-size:14px;
}
.ReactTabs__Tab.ReactTabs__Tab--selected .ReactTabs__Tab:hover{
 color:#231f20;
}
.ReactTabs__TabList .ReactTabs__Tab:hover{
 color:#107aca;
}

/* code added by ramesh -- Search library */

.search-tab .search-result-box .title {
    font-weight:bold;
    text-decoration: none;
    cursor: default;
    margin-top: 7px;
    color: #0C65A5;
}

.savedSearchTerm {
    display: inline-block;
    /* border: 1px solid; */
    word-break: break-all;
    /* word-wrap: break-word; */
    padding-left: 10px;
    /* float: left; */
    width: 90%;
 }

span.savedSearchChkbox{
	float: left;
    padding-top: 1px;
} 

/* Modal */
.ReactModal__Overlay.ReactModal__Overlay--after-open{
        background-color: rgba(0,0,0, 0.6) !important;
}

.ReactModal__Content--after-open{
    padding:0px!important;
    border-radius:0px !important;
    left:222px !important;
    right:222px !important;
}

.modalHeadDiv{
    background-color: #e6e6e6;
    padding: 10px 16px 10px 16px;
    border-bottom: 1px solid #bbb;
}

.modalHeadDiv .pageTitle{
    float:left;
    font-size:20px;
    line-height: normal;
    margin-top:7px;
}
.modalHeadDiv .closeButtonDiv{
    cursor:pointer;
    float:right;
    font-size:28px;
    line-height: normal;
    text-align: right;
}

.modalBodyDiv{
    padding:0px;
}
div#filterAssets {
    margin-top: 12px;
}

button.pe-btn.pe-btn--primary.selectBtn {
    width:93px;
    background: #0062A6;
    height: 30px;
}
button.pe-btn.pe-cancel-btn{
    width: 80px;
    border-color:#A6A8AB;
}

/* Difficulty level list */

.searchFilterList ul li{
    list-style: none;
}

.searchFilterList ul li a{
     color:#999999;
}

.searchFilterList .filterChecked{
    font-weight:bold;
}


/* Difficulty level filters */

.pe-assetFilters .ReactTags{
    border:none;
}

.pe-assetFilters .ReactTags .ReactTags__tagInput input{
    display: none;
    visibility: hidden;
}
