.my-scrollbar{
  width: 35%;
  min-width: 300px;
  max-height: 450px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.TabContainer{
	width:100%;
}

.TabFullRow{
	width:98%;
	margin:5px auto;
	float:left;
}

.TabLeftRow{
	width:70%;
	float:left;
}

.TabRightRow{
	width:30%;
	float:left;
}

.UploadFilesTablabel{
	width:100%;
	font-weight:bold;
}

.UploadFilesTextBox{
	width : 100%;
	height: 30px;
   	border-radius: 3px;
}

.UploadFilesSelectBox{
	width : 100%;
	height: 30px;
	border-radius: 3px;
}

.UploadFilesTextArea{
	width : 100%;
	border-radius: 3px;
	resize: none;
}

/* Tab Component customization */
.ReactTabs__TabList.parentTab .ReactTabs__Tab{ 
margin-left:30px;
}
.react-tabs [role=tab]{
	position:static;
    padding:5px;
    margin:0px;
}

#filterAssets .ReactTabs__Tab{
    margin-left:9%;
    margin-bottom:0px;
}

#filterAssets .ReactTabs__Tab:first-child {
    margin-left: 2%;
}
.ReactTabs.react-tabs {
    margin:23px 0px 0px;
    min-height: 250px;
}
.react-tabs [role=tablist] {
 	list-style: none;
    margin: 0 !important;
    padding: 0;
}
.ReactTabs__Tab{
	display: block;
    padding: 10px;
    text-decoration: none;
    border-bottom: 6px solid transparent;
    color: #565656;
    transition: .15s border-color;
    -webkit-transition: .15s border-color;
    -moz-transition: .15s border-color;
}

.ReactTabs__TabPanel--selected {
    padding:0px;
    margin: 0px;
    
}
.react-tabs [role=tab][aria-selected=true] {
    color:#107aca;
    border-color:#FFFFFF !important;;
    border-radius: 0px 0px 0 0;
    -moz-border-radius: 0px 0px 0 0;
    -webkit-border-radius: 0px 0px 0 0;
    border-bottom:6px solid #094877 !important;
    padding: 0px 13px 4px 13px;
}
.ReactTabs__TabList .ReactTabs__Tab:hover{
 color:#107aca;
}

div#addAnAssets .parentTab{
 border-bottom:0px;
 margin-bottom: 15px !important;
}
.ReactTabs__TabPanel.uploadAssets{
    overflow:hidden;
}
.ReactTabs__TabPanel.uploadAssets .left-wrapper{
 width:26%;
 float:left;
 clear:both;
}

.ReactTabs__TabPanel.uploadAssets .right-wrapper{
 width:74%;
 float:right;
}
.fa-exclamation-triangle:before{
    color:red;
}
.pe-jobstatus{
    text-align:right;
    margin-right:25px;
}
.folderTree {
    margin-left:12px;
}
.folderTree h4{
    margin-bottom: 14px;
    color: #666;
    font-size: 18px;
    font-weight: normal;
}

.pe-singleupload--wrapper ul.pe-input.pe-error-text {
    list-style: none;
    padding: 0px;
    float: left;
    margin:15px 0px 0px 20px;
    color: #000;
    font-size: 14px;
}

.pe-uploadfor--title{
    color: #8c8c8c;
    font-size: 12px;
    text-transform: capitalize;
    font-weight:normal;
}

.pe-uploadfor--text{
margin-left: 30px; 
color: #000;
font-size: 12px;
font-weight: bold;
float:left;
margin-bottom: 23px;
}

.pe-singleupload--wrapper .pe-tooltip{
width:220px;
font-weight:bold;
}

.pe-formats-link .__react_component_tooltip.place-right {
    margin-left:100px;
    border: solid 1px #d0d0d0;
    border-radius:6px;
}
.pe-formats-link .__react_component_tooltip.type-light.place-right:after {
    border-right-color: #d0d0d0;
    border-right-style: solid;
    border-right-width:10px;
    left: -10px;
}
.pe-singleupload--wrapper .pe-buttonbar.pe-clear{
  text-align:right;
  clear:both;
}
.pe-formats-link .__react_component_tooltip{
    padding: 5px 8px;
}

.pe-singleupload--wrapper .pe-buttonbar.pe-clear{
  text-align:right;
  clear:both;
}

.pe-singleupload--wrapper .pe-tooltip--wrapper p{
     font-size:12px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pe-singleupload--wrapper input[type="file"]{
    width:500px;
    float:left;
    margin-bottom:0px;
 }
 .pe-singleupload--wrapper .col-full {
    width: 100%;
    margin: 15px 0px;
    padding-left:7px;
    font-size:14px;
}

.pe-singleupload--wrapper .pe-input.text {
   clear: both;
}
.upload-status .pe-jobstatus-link{
 margin-top: 25px;
}
.upload-status h2 {
margin-bottom: 25px;
}

.pe-jobstatus-page .row .col-3 {
    padding: 10px 0px;
}
.pe-jobstatus-page .sub-rows .col-3 {
    padding: 12px 0px;
    line-height: normal;
}
.pe-jobstatus-page .sub-rows .col-3:nth-child(4) span {
    /*text-decoration: underline;*/
    color: #0d65a6;
    text-decoration: none;
}
.pe-singleupload--wrapper .pe-input.text label{
    font-weight:bold;
}
